---
layout: archive
title: 
permalink: /publications/
author_profile: true
---
<style>
  .underlined-heading {
    text-decoration: underline;
    font-family: Arial, sans-serif; /* Optional: change font if desired */
  }

  /* Add a rule to center the h1 */
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px; /* Adjust width as needed */
    background-color: rgba(61, 61, 61, 0.75); /* Slightly transparent black */
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px; /* Add some padding */
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Position it closer above the link */
    left: 50%;
    margin-left: -60px; /* Center the tooltip */
    font-size: 15px; /* Smaller font size */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip a {
    text-decoration: none;
    color: rgb(125, 125, 126); /* Change original text color to red */
    transition: all 0.3s; /* For smooth transition */
}

.tooltip a:hover {
    text-decoration: underline; /* Underline only on hover */
    text-shadow: 0 1px 2px rgba(206, 159, 102, 0.5); /* Shadow effect on hover */
}


</style>


<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

<h1>Articles</h1>
<h3 class="underlined-heading">2024</h3>

<div style="display: flex; flex-wrap: wrap; width: 100%;">
  <div class="v-card" style="border: 0.5px solid #ddd; border-radius: 8px; width: 100%; max-width: 3000px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);">
    
    <ol style="margin: 1px 15px 15px 2px"> <!-- Use <ol> for ordered list -->
      <!-- Publication 1 -->
      <p><div class='altmetric-embed' data-badge-type='donut' data-doi="10.1371/journal.pone.0311365" style="float: right"></div></p>
      <li style="margin-right: 80px; text-align: justify;">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
            <div style="display: flex; align-items: center;">
                <div class="tooltip" style="display: inline;">
                    <b>Dal Pos, D.</b> and Sharanowski, B. J. (2024) 
                    <a href="/2024-dalpos/" target="_blank">A host driven parasitoid syndrome: Convergent evolution of multiple traits associated with woodboring hosts in Ichneumonidae (Hymenoptera, Ichneumonoidea).</a>
                    <span class="tooltiptext">Click to view more</span>
                </div>
                <span style="margin-left: 5px;">
                    <i>PlosOne</i> 19(9): e0311365.
                    <a href="https://doi.org/10.1371/journal.pone.0311365" target="_blank">https://doi.org/10.1371/journal.pone.0311365</a>
                    <a href="pdfs/Dal_Pos-2024-Plos.pdf" target="_blank" style="text-decoration: none;">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
                    </a>
                </span>
            </div>
        </div>
    </li>
      
      <!-- Publication 2 -->
      <p><div class='altmetric-embed' data-badge-type='donut' data-doi="10.1371/journal.pone.0307404" style="float: right"></div></p>
      <li style="margin-right: 80px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            Meier, N.; Gordon, M. L.; van Noort, S.; Reynolds, T.; Rindos, M.; Di Giovanni, F.; Broad, G. R.; Spasojevic, T.; Bennett, A. M. R.; <b>Dal Pos, D.</b> and Klopfstein, S. (2024)
            Species richness estimation of the Afrotropical Darwin wasps (Hymenoptera, Ichneumonidae). <i>PlosOne</i> 19(7): e0307404.
          </div>
          <span style="margin-top: 0.5px;">
            <a href="https://doi.org/10.1371/journal.pone.0307404" target="_blank">https://doi.org/10.1371/journal.pone.0307404</a>
            <a href="pdfs/Meier-2024.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </span>
        </div>
      </li>

      <li style="margin-right: 20px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            Yang, X.; Huang, Z.-P.; Cui, L.-W.; <b>Dal Pos, D.</b>; Reshchikov, A. and Xiao, W. (2024) 
            <i>Coelichneumon rufofemoratus</i> (Cameron, 1903) (Hymenoptera: Ichneumonidae) from Eastern Himalayas,
            with a checklist of all the species of the genus from the Oriental region. 
            <i>Journal of Insect Biodiversity</i> 50(2): 32–50.
          </div>
            <span style="margin-top: 0.5px;">
            <a href="https://doi.org/10.12976/jib/2024.50.2.1" target="_blank">https://doi.org/10.12976/jib/2024.50.2.1</a>
            <a href="pdfs/Yang-2024.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
            </span>
        </div>
      </li>
      
      
      <p><div class='altmetric-embed' data-badge-type='donut' data-doi="10.5852/ejt.2024.925.2457" style="float: right"></div></p>
      <li style="margin-right: 80px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            <b>Dal Pos, D.</b>; Broad, G. R. and Martens, A. (2024) 
            Small jewels: two new species of the rare genus <i>Masona</i> van Achterberg (Hymenoptera, Ichneumonoidea, Braconidae), 
            with a catalogue of world species and comments on the peculiar morphology of the genus. 
            <i>European Journal of Taxonomy</i> 925(1): 135–160.
          </div>
          <span style="margin-top: 0.5px;">
            <a href="https://doi.org/10.5852/ejt.2024.925.2457" target="_blank">https://doi.org/10.5852/ejt.2024.925.2457</a>
            <a href="pdfs/Dal Pos-2024_Masona.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </span>
        </div>
      </li>
    
      <p><div class='altmetric-embed' data-badge-type='donut' data-doi="10.11646/zootaxa.5453.4.5" style="float: right"></div></p>
      <li style="margin-right: 80px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            Claridge, B. and <b>Dal Pos, D.</b> (2024) 
            Revision of Nearctic <i>Eparces</i> (Hymenoptera: Ichneumonidae: Ichneumoninae): description of <i>Eparces 
            australis</i> Claridge & Dal Pos sp. nov., nomenclatural notes, and new records of <i>Eparces quadriceps</i> (Cresson, 1867). 
            <i>Zootaxa</i> 5453(4): 549–557.
          </div>   
          <span style="margin-top: 0.5px;">
            <a href="https://doi.org/10.11646/zootaxa.5453.4.5" target="_blank">https://doi.org/10.11646/zootaxa.5453.4.5</a>
            <a href="pdfs/Claridge-2024_Eparces.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </span>
        </div>
      </li>
    </ol>

  </div>
</div>

<h3 class="underlined-heading">2023</h3>
<div style="display: flex; flex-wrap: wrap; width: 100%;">
  <div class="v-card" style="border: 0.5px solid #ddd; border-radius: 8px; width: 100%; max-width: 3000px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);">
    
    <ol start = "6"; style="margin: 1px 15px 15px 2px"> <!-- Use <ol> for ordered list -->
      <!-- Publication 1 -->
      <p><div class='altmetric-embed' data-badge-type='donut' data-doi="10.7717/peerj.15874" style="float: right"></div></p>
      <li style="margin-right: 80px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            <b>Dal Pos, D.</b>; Mikó, E. J.; Talamas, L.; Vilhelmsen; and B. J. Sharanowski (2023) 
            A revised terminology for male genitalia in Hymenoptera (Insecta), 
            with a special emphasis on Ichneumonoidea. <i>PeerJ</i> 11: e15874.
          </div>   
          <span style="margin-top: 0.5px;">
            <a href="http://doi.org/10.7717/peerj.15874" target="_blank">http://doi.org/10.7717/peerj.15874</a>
            <a href="pdfs/Dal Pos-2023_Genitalia.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </span>
        </div>
      </li>
      
      <p><div class='altmetric-embed' data-badge-type='donut' data-doi="doi.org/10.5852/ejt.2023.868.2105" style="float: right"></div></p>
      <li style="margin-right: 80px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            <b>Dal Pos, D.</b>; Claridge, B.; Diller, E.; van Noort, S.; & Di Giovanni, F. (2023) 
            Still counting: new records, nomenclatural notes, and three new species of Phaeogenini 
            (Hymenoptera, Ichneumonidae, Ichneumoninae) from the Afrotropical region. 
            <i>European Journal of Taxonomy</i>, 868: 1–71.
          </div>   
          <span style="margin-top: 0.5px;">
            <a href="https://doi.org/10.5852/ejt.2023.868.2105" target="_blank">https://doi.org/10.5852/ejt.2023.868.2105</a>
            <a href="pdfs/Dal Pos-2023_Phaeogenini.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </span>
        </div>
      </li>

    </ol>

  </div>
</div>

<h3 class="underlined-heading">2022</h3>
<div style="display: flex; flex-wrap: wrap; width: 100%;">
  <div class="v-card" style="border: 0.5px solid #ddd; border-radius: 8px; width: 100%; max-width: 3000px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);">
    
    <ol start = "8"; style="margin: 1px 15px 15px 2px"> <!-- Use <ol> for ordered list -->
      <!-- Publication 1 -->

      <p><div class='altmetric-embed' data-badge-type='donut' data-doi="10.1080/00222933.2022.2134061" style="float: right"></div></p>
      <li style="margin-right: 80px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            <b>Dal Pos, D.</b>; Heilman, V. & Welter-Schultes, F. (2022) 
            Platylabini (Hymenoptera: Ichneumonidae: Ichneumoninae) 
            of the south-eastern United States: new distributional data, taxonomic notes, 
            illustrated keys, and an annotated catalogue of the genera and species. 
            <i>Journal of Natural History</i>, 56(45–48): 1869–1938.
            <a href="https://doi.org/10.1080/00222933.2022.2134061" target="_blank">https://doi.org/10.1080/00222933.2022.2134061</a>
            <a href="pdfs/Dal Pos-2022_Platylabini.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </div> 
        </div>
      </li>


      <p><div class='altmetric-embed' data-badge-type='donut' data-doi="10.1080/14772000.2022.2063964" style="float: right"></div></p>
      <li style="margin-right: 80px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            Zamani, A.; <b>Dal Pos, D.</b>; Fric, Z. F.; Orfinger, A. B.; Scherz, M. D.; Bartoňová, A. S.; Gante, H. F. (2022) 
            The future of zoological taxonomy is integrative, not minimalist. 
            <i>Systematics and Biodiversity</i>, 20(1): 1–14.
          </div>   
          <span style="margin-top: 0.5px;">
            <a href="https://doi.org/10.1080/14772000.2022.2063964" target="_blank">https://doi.org/10.1080/14772000.2022.2063964</a>
            <a href="pdfs/Zamani-2022_Integrative.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </span>
        </div>
      </li>


      <p><div class='altmetric-embed' data-badge-type='donut' data-doi="10.11646/zootaxa.5137.1.1" style="float: right"></div></p> 
      <li style="margin-right: 80px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            <b>Dal Pos, D.</b>; Carpenter, J. M. & Uliana, M. (2022) 
            The Giordani Soika collection of Eumeninae at the Natural History Museum of Venice Giancarlo Ligabue: 
            catalogue of species and type specimens (Insecta, Hymenoptera, Vespidae). 
            <i>Zootaxa</i>, 5137(1): 1–111.
          </div>   
          <span style="margin-top: 0.5px;">
            <a href="https://doi.org/10.11646/zootaxa.5137.1.1" target="_blank">https://doi.org/10.11646/zootaxa.5137.1.1</a>
            <a href="pdfs/Dal Pos-2022_Soika.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </span>
        </div>
      </li>


      <p><div class='altmetric-embed' data-badge-type='donut' data-doi="10.1111/syen.12538" style="float: right"></div></p>
      <li style="margin-right: 80px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            Zamani, A.; Zamani, A., Fric, Z.F., Gante, H.F., Hopkins, T., Orfinger, A.B., Scherz, M.D.; Bartoňová, A. S. & <b>Dal Pos, D.</b> (2022) 
            DNA barcodes on their own are not enough to describe a species. 
            <i>Systematics Entomology</i>, 47(3): 385–389. 
            <a href="http://doi.org/10.1111/syen.12538" target="_blank">http://doi.org/10.1111/syen.12538</a>
            <a href="pdfs/Zamani-2022_DNA.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </div> 
        </div>
      </li>

    </ol>

  </div>
</div>

<h3 class="underlined-heading">2019</h3>
<div style="display: flex; flex-wrap: wrap; width: 100%;">
  <div class="v-card" style="border: 0.5px solid #ddd; border-radius: 8px; width: 100%; max-width: 3000px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);">
    
    <ol start = "12"; style="margin: 1px 15px 15px 2px"> <!-- Use <ol> for ordered list -->
      <!-- Publication 1 -->

      <p><div class='altmetric-embed' data-badge-type='donut' data-doi="10.37486/2675-1305.ec01006" style="float: right"></div></p>
      <li style="margin-right: 80px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            Klopfstein, S.; Santos, B. F.; Shaw, M. R.; Alvarado, M.; Bennett, A. M. R.; <b>Dal Pos, D.</b>; 
            Giannotta, M.; Herrera, A. D. F.; Karlsson, D.; Khalaim, A. I.; Lima, A. R; Mikó, I.; Sääksjärvi, I. E.;
            Shimizu, S.; Spasojevic, T.; van Noort, S.; Vilhelmsen, L. & Broad, G. R. (2019) 
            Darwin wasps: a new name heralds renewed efforts to unravel the evolutionary history of Ichneumonidae. 
            <i>Entomological Communications</i>, 1: ec010.
          </div>
          <span style="margin-top: 0.5px;">
            <a href="https://doi.org/10.37486/2675-1305.ec01006" target="_blank">https://doi.org/10.37486/2675-1305.ec01006</a>
            <a href="pdfs/Klopfstein-et-al_2019.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </span>
        </div>
      </li>


      <li style="margin-right: 20px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            Riedel, M. & <b>Dal Pos, D.</b> (2019) Contribution to the Afrotropical Ichneumoninae 
            (Hymenoptera, Ichneumonidae) from Gabon and Sierra Leone, with descriptions of five new 
            species and two new subspecies. <i>Linzer biologische Beiträge</i>, 51(1): 419–436.
            <a href="pdfs/Riedel-DalPos_2019.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </div>
        </div>
      </li>
      
    </ol>

  </div>
</div>

<h3 class="underlined-heading">2018</h3>
<div style="display: flex; flex-wrap: wrap; width: 100%;">
  <div class="v-card" style="border: 0.5px solid #ddd; border-radius: 8px; width: 100%; max-width: 3000px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);">
    
    <ol start = "14"; style="margin: 1px 15px 15px 2px"> <!-- Use <ol> for ordered list -->
      <!-- Publication 1 -->

      <p><div class='altmetric-embed' data-badge-type='donut' data-doi="10.5852/ejt.2018.473" style="float: right"></div></p>
      <li style="margin-right: 80px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            <b>Dal Pos, D.</b> & Rousse, P. (2018) First record of the genus <i>Genaemirum</i> 
            (Hymenoptera, Ichneumonidae, Ichneumoninae) from West Africa, with the description 
            of a new species from Guinea. <i>European Journal of Taxonomy</i>, 473: 1–11.
            <a href="https://doi.org/10.5852/ejt.2018.473" target="_blank">https://doi.org/10.5852/ejt.2018.473</a>
            <a href="pdfs/Dal Pos-2018_Genaemirum.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </div>
        </div>
      </li>
    </ol>

  </div>
</div>

<h3 class="underlined-heading">2017</h3>
<div style="display: flex; flex-wrap: wrap; width: 100%;">
  <div class="v-card" style="border: 0.5px solid #ddd; border-radius: 8px; width: 100%; max-width: 3000px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);">
    
    <ol start = "16"; style="margin: 15px 15px 15px 2px"> <!-- Use <ol> for ordered list -->
      <!-- Publication 1 -->

      <li style="margin-right: 20px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            <b>Dal Pos, D.</b> (2017) First record of <i>Ibalia jakowlewi</i> Jacobson, 1899 
            and of the subgenus <i>Tremibalia</i> for Italy (Hymenoptera, Cynipoidea, Ibaliidae). 
            <i>Bollettino del Museo di Storia Naturale di Venezia</i>, 68: 53–57.
            <a href="pdfs/Dal Pos-2017_Ibalia.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </div>
        </div>
      </li>
      

      <li style="margin-right: 20px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            <b>Dal Pos, D.</b> (2017) First records of the parasitoid wasp genus <i>Saotis</i> Förster, 1869 
            for Italy (Hymenoptera, Ichneumonidae, Ctenopelmatinae, Mesoleiini). 
            <i>Bollettino del Museo di Storia Naturale di Venezia</i>, 68: 59–62.
            <a href="pdfs/Dal Pos-2017_Saotis.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </div>
        </div>
      </li>
      

      <li style="margin-right: 20px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            <b>Dal Pos, D.</b> (2017) <i>Zombrus bicolor</i> (Enderlein, 1912): evidence of its establishment 
            in Italy (Hymenoptera: Braconidae: Doryctinae). 
            <i>Lavori - Società Veneziana di Scienze Naturali</i>, 13: 39–43.
            <a href="pdfs/Dal Pos-2017_Zombrus.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </div>
        </div>
      </li>
      

      <li style="margin-right: 20px; text-align: justify">
        <div style="flex-grow: 1; display: flex; flex-direction: column;">
          <div>
            <b>Dal Pos, D.</b> (2017) Rediscovery and redescription of the holotype of 
            <i>Stephanus</i> (<i>Distephanus</i>) [sic!] <i>athesinus</i> Biegeleben, 1929, 
            with comments on its identity and new distributional data for <i>Megischus anomalipes</i> 
            (Förster, 1855) (Hymenoptera, Stephanidae). 
            <i>Lavori - Società Veneziana di Scienze Naturali</i>, 1(3): 5–14.
            <a href="pdfs/Dal Pos-2017_Stephanus.pdf" target="_blank" style="text-decoration: none;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
            </a>
          </div>
        </div>
      </li>
    </ol>

  </div>
</div>      

<h1 style="margin-top: 60px">Book chapters</h1> 
<h3 class="underlined-heading">2023</h3>
<div style="display: flex; flex-wrap: wrap; width: 100%;">
  <div class="v-card" style="border: 0.5px solid #ddd; border-radius: 8px; width: 100%; max-width: 3000px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);">
    
    <ol start = "15"; style="margin: 15px 15px 15px 2px"> <!-- Use <ol> for ordered list -->
      <!-- Publication 1 -->
      <li style="margin-right: 20px; text-align: justify">
        <b>Dal Pos, D.</b> & Di Giovanni, F. (2023) 
        Hymenoptera (Trigonaloidea, Stephanoidea, Ichneumonoidea). 
        <i>In</i> Minelli, A & Bologna, M. A. (eds.) <i>Sistematica ed Evoluzione degli Esapodi</i>. 
        Liguori Editore, Napoli, Italy: 313–372p.
        <a href="pdfs/Caleca-2023.pdf" target="_blank" style="text-decoration: none;">
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" style="width: 25px; height: 25px; vertical-align: middle; margin-left: 5px;">
        </a>
      </li>
    </ol>

  </div>
</div>       


<div style="text-align: center;">
  <!-- Separation Line -->
  <hr style="margin: 0 auto 20px auto; border: none; height: 1px; background-color: #888; width: 100%">
</div>

<div style="text-align: center;">
  <!-- Text -->
  <p>For more info on my research, check these two links:</p>

</div>
  
<!-- Profiles -->
<div style="display: flex; justify-content: center; align-items: center;">
  <!-- Google Scholar Profile -->
  <div style="margin-right: 20px;">
    <a href="https://scholar.google.com/citations?user=wYj3d_oAAAAJ" target="_blank">
      <img src="images/Google_Scholar_logo.svg" alt="Google Scholar Profile" style="width: 50px; height: auto;">
    </a>
  </div>
  
  <!-- ResearchGate Profile -->
  <div>
    <a href="https://www.researchgate.net/profile/Davide-Dal-Pos-2" target="_blank">
      <img src="images/ResearchGate_icon.png" alt="ResearchGate Profile" style="width: 50px; height: auto;">
    </a>
  </div>
</div>


<!---
#{% if author.googlescholar %}
 You can also find my articles on <u><a href="{{author.googlescholar}} ">my Google Scholar profile</a>.</u>
{% endif %}

 {% include base_path %}

 {% for post in site.publications reversed %}
  {% include archive-single.html %}
 {% endfor %}
--->